.page {
  max-width: 976px;
  margin: 0 auto;
  padding: 0 48px 0;
  color: #fff;
  box-sizing: border-box;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

@media screen and (max-width: 768px) {
  .page {
    padding: 0;
  }
}