.login__btn {
  width: 358px;
  min-height: 50px;
  margin: 216px 0 0;
  font-size: 18px;
  line-height: 1.22;
  border: none;
  border-radius: 2px;
  background-color: #fff;
  color: #000;
  transition: opacity 0.2s linear;
}

@media screen and (max-width: 768px) {
  .login__btn {
    width: 260px;
    min-height: 46px;
    margin: 173px 0 0;
    font-size: 16px;
    line-height: 1.12;
  }
}