.profile__row {
  display: flex;
  width: 100%;
  column-gap: 18px;
  align-items: baseline;
}

@media screen and (max-width: 768px) {
  .profile__row {
    justify-content: center;
    align-items: center;
    column-gap: 10px;
  }
}