.popup__save-btn {
  background-color: #000;
  border: none;
  border-radius: 2px;
  width: 100%;
  color: #fff;
  margin-top: 3px;
  padding: 14px 0 18px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
}

.popup__save-btn:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: 0.2s;
}

@media screen and (max-width: 768px) {
  .popup__save-btn {
    padding: 14px 0 14px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
  }
}