.popup__close-btn {
  background: url(../../../images/popup/popup__close-btn.svg) 50% no-repeat;
  background-size: contain;
  width: 32px;
  height: 32px;
  border: none;
  position: absolute;
  top: -40px;
  right: -40px;
}

.popup__close-btn:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: 0.2s;
}

@media screen and (max-width: 768px) {
 .popup__close-btn {
   width: 20px;
   height: 20px;
   top: -36px;
   right: 0;
 }
}